<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include author.html %}
            <!-- {% include comments.html %} -->
            {% include footer.html %}
        </section>
        <script>addBackToTop({
            scrollDuration: 500
        })</script>
        <style>
            .progress-bar {
                background: linear-gradient(to right, red var(--scroll), transparent 0);
                background-repeat: no-repeat;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                height: 4px;
                z-index: 1;
            }
        </style>
        
        <!-- This is the bar which shows scroll percentage -->
        <div class="progress-bar"></div>
        
        
        <!-- Script used to generate --scroll variable with current scroll percentage value -->
        <script>
            var element = document.documentElement,
                body = document.body,
                scrollTop = 'scrollTop',
                scrollHeight = 'scrollHeight',
                progress = document.querySelector('.progress-bar'),
                scroll;

            document.addEventListener('scroll', function () {
                scroll = (element[scrollTop] || body[scrollTop]) / ((element[scrollHeight] || body[scrollHeight]) - element.clientHeight) * 100;
                progress.style.setProperty('--scroll', scroll + '%');
            });
        </script>
    </body>
</html>
